@model carOnline.Models.tblSeguradora

@{
    ViewBag.Title = "Alteracao";
    Layout = "~/Areas/Administrativo/Views/Shared/_Admin.cshtml";
}

        <div class="panel-wrapper">	

		    <div class="panel-wrapper fixed">	        

			    <div class="panel">

				    <div class="title">
					    <h4>Alteração de Seguradora</h4>	
				    </div>

                    <div id="Msg-error">
                        @TempData["mensagemRetorno"]
                    </div><!-- MOSTRAR MsgAlerta DE VALIDACAO -->
                    @using (Html.BeginForm("Alterar", "Seguradora", new { area = "Administrativo" }, FormMethod.Post, new {@class="formularioCadastroSeguradora" }))
                    {
                        <input type="hidden" id="idSeguradora" name="idSeguradora" value="@Model.idSeguradora" />
                        <div class="group fixed">
					        <label for="nome">Nome:</label>
                            @Html.TextBoxFor(m => m.nome, new { @class = "campoTexto campoNomeSeguradora", maxlength = "60", size = "40" })<span class="campoObrigatorio"  title="Este campo é obrigatório!"></span>
				        </div>     
                                      
                        <div class="group fixed">
					        <label for="email">E-mail:</label>
                            @Html.TextBoxFor(m => m.email, new { @class = "campoTexto campoEmailSeguradora", maxlength = "60", size = "40" })<span class="campoObrigatorio"  title="Este campo é obrigatório!"></span>
				        </div>                   
                        
                        <div class="group fixed">
					        <label for="telefone">Telefone:</label>
                            @Html.TextBoxFor(m => m.telefone, new { @class = "TELEFONE campoTexto" })
				        </div>                   
                        
                        <div class="group fixed">
					        <label for="celular">Celular:</label>
                            @Html.TextBoxFor(m => m.celular, new { @class = "NOVO_FORMATO_TELEFONE campoTexto" })
				        </div>                   

                        <p><input type="submit" value="Alterar" class="button-red" /></p>
                    }
                </div><!-- panel -->

			<div class="shadow"></div>			

		</div><!-- panel-wrapper fixed -->	

	</div><!-- panel-wrapper -->