@{
    ViewBag.Title = "Detalhes";
}

@using carOnline.Models;

@{
    
    if (Ferramenta.IsInt32(ViewBag.IdCarro))
    {
        CarOnlineEntities entity = new CarOnlineEntities();
        int idCarro = Convert.ToInt32(ViewBag.IdCarro);
        
        var carroSelecionado = entity.tblVeiculo.Where(c => c.idVeiculo == idCarro );

        var carro = carroSelecionado.Count() > 0 ? carroSelecionado.First() : null;

        if (carro != null)
        {   <br /><br />
             @:<div class="areaVeiculoDetalhe">
                <p class="textoAno">@carro.ano</p>
                @*<p>@carro.dataCadastro</p>*@
                @*<p>@carro.descricao</p>*@
                <p>Cor: @carro.tblCor.descricao</p>
                <p>Portas: @carro.portas</p>
                <p class="textoPreco">R$ @carro.preco</p>
                <p>Km: @carro.quilometragem</p>
                string url = carro.tblFotosVeiculo.Count > 0 ? carro.tblFotosVeiculo.First().urlFoto : "";
                if (url != "")
                {
                        <img src="@Url.Content(url)" width="120px" height="120px" alt="@carro.descricao" />
                }
            @:</div>
             <br /><br />
        }
        else
        {
            // <script type="text/javascript">Mensagem("Carro não encontrado","Aviso")</script>
    <p>Carro não encontrado</p>
        }
    }
    
}
