@{
    ViewBag.Title = "Index";
}
@using carOnline.Models
@{
    CarOnlineEntities entity = new CarOnlineEntities();

    var Carros = entity.tblVeiculo.Select(s => s);
    <br /><br />
    @:<div class="listaVeiculo">
    foreach (var carro in Carros)
    {
        
        @:<div class="areaVeiculo">
            
            <p class="textoAno">@carro.ano</p>
            @*<p>@carro.dataCadastro</p>*@
            @*<p>@carro.descricao</p>*@
            <p>Cor: @carro.tblCor.descricao</p>
            <p>Portas: @carro.portas</p>
            <p class="textoPreco">R$ @carro.preco</p>
            <p>Km: @carro.quilometragem</p>
            string url = carro.tblFotosVeiculo.Count > 0 ? carro.tblFotosVeiculo.First().urlFoto : "";
            if (url != "")
            {
                    <img src="@Url.Content(url)" width="120px" height="120px" alt="@carro.descricao" />
            }
            <hr />
            <div onclick="Redirecionar(@carro.idVeiculo,'@Ferramenta.QueryStrings.IdCarro')" class="botaoVisualizar">Visualizar</div>
        @:</div>
    }
    @:</div>
    <br /><br />
    <script type="text/javascript">

        Redirecionar = function (id,nomeQueryString) {
            location.href = 'Compra/Detalhes?' + nomeQueryString + '=' + id;
        }

    </script>
    
}
