@model carOnline.Models.tblFuncionario

@{
    ViewBag.Title = "Alteracao";
    Layout = "~/Areas/Administrativo/Views/Shared/_Admin.cshtml";
}
	<div class="panel-wrapper">	

		<div class="panel-wrapper fixed">	        

			<div class="panel">

				<div class="title">
					<h4>Edição de Funcionário</h4>	
				</div>

                <div id="Msg-error">
                    @TempData["mensagemRetorno"]
                    <p><span class="mensagemValidacao" title="">@Html.ValidationMessage("nome")</span></p>
                    <p><span class="mensagemValidacao" title="">@Html.ValidationMessage("email")</span></p>
                    <p><span class="mensagemValidacao" title="">@Html.ValidationMessage("senha")</span></p>
                </div><!-- MOSTRAR MsgAlerta DE VALIDACAO -->
               
                    @using (Html.BeginForm("Alterar", "Funcionario", new { area = "Administrativo" }, FormMethod.Post, new { @class = "formularioCadastroFuncionario" }))
                    {
                        <input type="hidden" value="@Model.idCidade" id="idCidade" name="idCidade" />
                        <input type="hidden" value="@Model.idFuncionario" id="idFuncionario" name="idFuncionario" />
                        <input type="hidden" class="urlBuscarCidade" value="@Url.Action("BuscarCidade", "Funcionario", new { area = "Administrativo" })" />
                                            <div class="group fixed">
						<label for="nome">Nome:</label>
						@Html.TextBoxFor(m => Model.nome, new { @class = "campoTexto campoEmailAdministrador", maxlength = "60", size = "40" })<span class="campoObrigatorio" title="Este campo é obrigatório!">
					</div>

                    <div class="group fixed">
						<label for="email">E-mail:</label>
						@Html.TextBoxFor(m => m.email, new { @class = "campoTexto campoEmailFuncionario", maxlength = "60", size = "40" })<span class="campoObrigatorio"  title="Este campo é obrigatório!"></span>
					</div>
                    
                    <div class="group fixed">
						<label for="senha">Senha:</label>
						@Html.PasswordFor(m => Model.senha, new { @class = "campoTexto campoSenhaFuncionario", maxlength = "8" })<span class="campoObrigatorio" title="Este campo é obrigatório!"></span>
					</div>
                    
                    <div class="group fixed">
					    <label for="telefone">Telefone:</label>
					    @Html.TextBoxFor(m => m.telefone, new { @class = "TELEFONE campoTexto" })
				    </div>                    
                    
                    <div class="group fixed">
					    <label for="celular">Celular:</label>
					    @Html.TextBoxFor(m => m.celular, new { @class = "NOVO_FORMATO_TELEFONE campoTexto" })
				    </div>                    
                    
                    <div class="group fixed">
					    <label for="endereco">Endereço:</label>
					    @Html.TextBoxFor(m => m.endereco, new { @class = "campoTexto campoEnderecoFuncionario" })<span class="campoObrigatorio"  title="Este campo é obrigatório!"></span>
				    </div>                    
                    
                    <div class="group fixed">
					    <label for="bairro">Bairro:</label>
					    @Html.TextBoxFor(m => m.bairro, new { @class = "campoTexto campo campoBairroFuncionario" })<span class="campoObrigatorio"  title="Este campo é obrigatório!"></span>
				    </div>                                        
                    
                    <div class="group fixed">
					    <label for="tipoPermissao">Tipo de Permissão:</label>
					    @Html.DropDownList("TipoPermissao", null, new { @class = "campoTexto" })
				    </div>                   
                    
                    <div class="group fixed">
					    <label for="pais">País:</label>
                        @Html.DropDownList("Paises", null, new { @class = "campoTexto" })
				    </div>                   
                    
                    <div class="group fixed">
					    <label for="estados">Estados:</label>
                        @Html.DropDownList("Estados", null, new { @class = "campoTexto" })
				    </div>                   
                    
                    <div class="group fixed">
					    <label for="cidades">Cidade:</label>
                        @Html.DropDownList("Cidades", null, new { @class = "listaCidades campoTexto" })
                        <span class="campoObrigatorio"  title="Este campo é obrigatório!"></span>
				    </div>                   
                    
                    <p><input type="submit" value="Alterar" class="button-red" /></p>
                    }
                </div><!-- panel -->

			<div class="shadow"></div>			

		</div><!-- panel-wrapper fixed -->	

	</div><!-- panel-wrapper -->