@using carOnline.Models
@model IEnumerable<tblFuncionario>
@{
    ViewBag.Title = "Consulta";
    Layout = "~/Areas/Administrativo/Views/Shared/_LayoutAreaAdministrativa.cshtml";
}

<h2>Consulta</h2>
<br />
<br />

<table border="1">
    @{
        if(Model!=null)
        {
            <tr><td>Código</td><td>Nome</td><td>Alterar</td><td>Deletar</td></tr>
            foreach(var item in Model)
            {
                <tr>
                    <td>@item.idFuncionario</td>
                    <td>@item.nome</td>
                    <td>@Html.ActionLink("Alterar", "Alteracao", new { id= @item.idFuncionario})</td>
                    <td>@Html.ActionLink("Deletar", "DeletarFuncionario", new { id= @item.idFuncionario })</td>
                </tr>
            }  
        } 
        else
        {
            <p>Não há administradores cadastrados</p>
        }
    }
</table>